* {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background: #F5F5F5;
  width: 100%;
  padding: 1rem;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  margin: 0 auto;
  text-align: center;
  font-weight: 800;
  color: black;
  font-size: 2.5rem;
}

.slogan {
  margin: .5rem 0 1.5rem 0;
  color: black;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5rem auto 27rem;
  height: 2.8rem;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 15px;
}

input {
  width: 100%;
  height: 2.75rem;
  border: 1px solid #D5D4D8;
  border-radius: 6px;
  font-size: 1.25rem;
  padding-left: .75rem;
}

.input-task,
.select-menu {
  font-style: 'Poppins', sans-serif;
}

.service-btn {
  width: 100%;
  max-width: 250px;
  height: 2.75rem;
  background: #3A69D2;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  transition: .2s ease-in-out;
}

.service-btn:hover {
  transition: all .5s ease;
  background-color: rgb(85, 148, 230);
}

.service-btn:active {
  transition: all .5s ease;
  cursor: pointer;
}

.service {
  margin: 0 .5rem;
}

.rendered-invoice-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.invoice-business-name,
.invoice-small-title {
  margin-top: auto;
  text-align: left;
}

.parties-container,
.middle-invoice-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  gap: 1rem;
}

.parties-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.issued-container>p {
  margin: 0;
}

.payable-container>p {
  margin: 0;
}

.middle-invoice-container {
  margin: 0;
  padding-top: 1rem;
}

.middle-invoice-container>p {
  margin: 0;
}

.item-to-be-rendered {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.item-title {
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.remove-btn {
  border: none;
  background: #FFFFFF;
  margin-left: .5rem;
  color: grey;
  font-style: italic;
  padding: 0;
  transition: .2s ease-in-out;
}

.remove-btn:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid grey;
}

.item-hrs {
  margin-left: auto;
}

.item-price {
  margin: 0 0 0 auto;
  font-size: 1.5rem;
}

.rendered-items-container {
  width: 100%;
  margin: 0 auto ;
  max-width: 800px;
  border-bottom: 1px solid black;
  padding-bottom: 4rem;
}

.rendered-title-container {
  display: flex;
  justify-content: space-between;
  margin: 2.7rem 0 1rem 0;
}

.rendered-title-container>p,
.rendered-total-title-container>p {
  margin: 0;
}

.rendered-total-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 2rem;
}

.rendered-total-title-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin: .7rem 0 1rem 0;
}

.get-invoice {
  margin: 2rem auto;
  width: 85%;
  height: 2.75rem;
  color: #FFFFFF;
  background: #3770ED;
/* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  max-width: 550px;
  transition: .2s ease-in-out;
}

.get-invoice:hover {
  transition: all .5s ease;
  cursor: pointer;
  background-color: rgb(85, 148, 230);
}

.totals-container {
  text-align: right;
}

.totals-container>h2 {
  font-size: 32px;
  margin: 0;
}

@media screen and (min-width: 450px) {

  .parties-container {
    flex-direction: row;
    gap: 0;
  }
  .payable-container {
    margin-left: auto;
  }
  
}